@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FootbalCatalog.ViewModels.FootballCreationViewModel
@{
    ViewData["Title"] = "Добавить футболиста";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <br/>
     <style>
       .input-group {
        width: 400px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
       }
      </style>
    <div  class="input-group mb-3">
        <form method="post" asp-controller="Footballer" asp-action="CreateFootballer">
            @if (Model.DetailFootballerDto != null)
            {
                <input asp-for="DetailFootballerDto.Id" value="@Model.DetailFootballerDto.Id" hidden="hidden"/>
            }
            <label asp-for="DetailFootballerDto.Name"></label>
            <input asp-for="DetailFootballerDto.Name" class="form-control"/>
            <span asp-validation-for="DetailFootballerDto.Name"></span>
            <br/>
            <label asp-for="DetailFootballerDto.Surname"></label>
            <input asp-for="DetailFootballerDto.Surname" class="form-control"/>
            <span asp-validation-for="DetailFootballerDto.Surname"></span>

            <br/>
            <label asp-for="DetailFootballerDto.Birthdate"></label>
            <input asp-for="DetailFootballerDto.Birthdate" class="form-control"/>
            <span asp-validation-for="DetailFootballerDto.Birthdate"></span>

            <br/>
            <label asp-for="DetailFootballerDto.Gender"></label>
            <select asp-for="DetailFootballerDto.Gender" class="form-control">
                @foreach (var i in Model.Genders)
                {
                    <option>@i</option>
                }
            </select>
            <span asp-validation-for="DetailFootballerDto.Gender"></span>

            <br/>
            <label asp-for="DetailFootballerDto.Team"></label>
            <input type="text" list="teams" asp-for="DetailFootballerDto.Team" class="form-control"/>
            <datalist id="teams">
                @foreach (var i in Model.Teams)
                {
                    <option>@i</option>
                }
            </datalist>
            <span asp-validation-for="DetailFootballerDto.Team"></span>

            <br/>
            <label asp-for="DetailFootballerDto.Country"></label>
            <select asp-for="DetailFootballerDto.Country" class="form-control"
                    asp-items="@(new SelectList(Model.Countries))">
            </select>
            <span asp-validation-for="DetailFootballerDto.Country"></span>

            <br/>
            <input type="submit" value="@(Model.DetailFootballerDto == null ? "Создать" : "Сохранить")" class="btn btn-primary form-control"/>
            <span ></span>

        </form>
    </div>
</div>